.flex-all-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-frame {
  width: 100vw;
  height: 100vh;
}

.string-sss {
  font-size: 10px
}

.string-ss {
  font-size: 15px;
}

.string-sm {
  font-size: 20px;
}

.string-rg {
  font-size: 30px;
}

.string-lg {
  font-size: 50px
}