.flex-all-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-frame {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.section-padding {
  padding: 50px 0;
}

@media (max-width: 480px) {
  .section-frame {
    min-width: 100lvw;
    min-height: 100lvh;
  }
}

.string-sss {
  font-size: 10px;
}

.string-ss {
  font-size: 15px;
}

.string-sm {
  font-size: 20px;
}
.string-m {
  font-size: 25px;
}

.string-rg {
  font-size: 30px;
}
.string-md {
  font-size: 40px;
}

.string-lg {
  font-size: 50px;
}
.string-big {
  font-size: 70px;
}
.string-hundred {
  font-size: 100px;
}

@media (max-width: 1080px) {
  .string-sss {
    font-size: 8px;
  }

  .string-ss {
    font-size: 13px;
  }

  .string-sm {
    font-size: 18px;
  }

  .string-rg {
    font-size: 22px;
  }

  .string-lg {
    font-size: 35px;
  }
  .string-big {
    font-size: 45px;
  }
}

.custom-vertical-text {
  writing-mode: vertical-rl;
}

.sm-vertical-text {
}

@media (max-width: 768px) {
  .sm-vertical-text {
    writing-mode: vertical-rl;
  }
}
