.flex-all-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-frame {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.section-padding {
  padding: 10px 0;
}

@media (max-width:480px) {
  .section-frame {
    min-width: 100lvw;
    min-height: 100lvh;
  }
}

.string-sss {
  font-size: 10px;

}

.string-ss {
  font-size: 15px;
}

.string-sm {
  font-size: 20px;
}

.string-rg {
  font-size: 30px;
}

.string-lg {
  font-size: 50px
}


.custom-vertical-text {
  writing-mode: vertical-rl;
}

.sm-vertical-text {}

@media (max-width: 768px) {
  .sm-vertical-text {
    writing-mode: vertical-rl;
  }
}