@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-size: clamp(10px, 1vw, 16px);
}

body {
  margin: 0;
  font-family: "NotoSerifJP";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #25232b;
  color: white;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img,
video {
  object-fit: cover;
}

.fixed-t {
  position: fixed;
  z-index: 9999; /* 大きめにしておく */
}
