.wind-blows {
  animation: blows 20s infinite alternate;
}

@keyframes blows {
  0% {
    transform: translate(-5%, -5%);
  }

  20% {
    transform: translate(-5%, 5%);
  }

  40% {
    transform: translate(5%, 5%);
  }

  60% {
    transform: translate(5%, -5%);
  }

  80% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-5%, -5%);
  }
}

.wind-flow {
  animation: flow 10s ease-in-out infinite alternate;
}

@keyframes flow {
  0%,
  40%,
  80% {
    transform: translateY(5%);
  }

  20%,
  60%,
  100% {
    transform: translateY(-2%);
  }
}

.text-shadow-po {
  transition: color 0.3s ease-in-out;
}

.text-shadow-po::after {
  content: "Technology stack";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-shadow: 2px 2px 4px #490049;

  z-index: -1;
  filter: blur(3px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.text-shadow-po:hover {
  color: #0d081a;
}

.text-shadow-po:hover::after {
  opacity: 1;
}

.brush-hover {
  transition: all 0.1s ease-in-out;
}

.brush-hover:hover {
  opacity: 0.7;
}
.glitch-wrapper {
  display: inline-block;
  position: relative;
}

.glitch-text {
  font-size: 3rem;
  color: white;
  position: relative;
  transition: all 0.2s ease;
}

/* エフェクト時のスタイル */
.glitch-text.glitching {
  animation: glitch 0.3s;
  text-shadow: 2px 0 red, -2px 0 blue;
  filter: contrast(1.5) brightness(1.3);
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 1px);
  }
  40% {
    transform: translate(2px, -1px);
  }
  60% {
    transform: translate(-1px, 2px);
  }
  80% {
    transform: translate(1px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating {
  animation: float 3s ease-in-out infinite;
}

.plus-motion {
  transition: transform 0.3s ease-in-out;
}
.plus-motion:hover {
  transform: rotate(180deg) scale(1.5);
}
