.fadeInBefore {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.fadeInAfter {
    opacity: 1;
    transform: translateY(0);
}

.opacityBefore {
    opacity: 0;
    transition: opacity 2s ease-out;
}

.opacityAfter {
    opacity: 1;
}

.tracked-element {
    transition: transform 2s ease-in-out;
}