.wind-blows {
    animation: blows 20s infinite alternate;
}

@keyframes blows {
    0% {
        transform: translate(-5%, -5%);
    }

    20% {
        transform: translate(-5%, 5%);
    }

    40% {
        transform: translate(5%, 5%);
    }

    60% {
        transform: translate(5%, -5%);
    }

    80% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-5%, -5%);
    }
}