@font-face {
  font-family: "NotoSerifJP";
  src: url("../fonts/NotoSerifJP/NotoSerifJP-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSerifJP";
  src: url("../fonts/NotoSerifJP/NotoSerifJP-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSerifJP";
  src: url("../fonts/NotoSerifJP/NotoSerifJP-Light.ttf");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

.palast-variable {
  font-family: palast-variable, sans-serif;
  font-variation-settings: "opsz" 160, "wght" 500;
}

.palast-variable-italic {
  font-family: palast-variable, sans-serif;
  font-variation-settings: "opsz" 160, "wght" 500;
  font-style: italic;
}

.kiwi-maru-regular {
  font-family: "kiwi-maru", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kinuta-maruminfuji-stdn {
  font-family: kinuta-maruminfuji-stdn, serif;
  font-style: normal;
  font-weight: 400;
}
.Ten-Mincho-Regular {
  font-family: "ten-mincho", serif;
  font-weight: 400;
  font-style: normal;
}
.KinutaShinStdN48K {
  font-family: kinuta-shin-stdn, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.KinutaShinStdN6K {
  font-family: kinuta-shin-stdn, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.Ryo-Gothic-PlusN-H {
  font-family: ryo-gothic-plusn, sans-serif;
  font-style: normal;
  font-weight: 800;
}
.Noto-Sans-CJK-JP {
  font-family: noto-sans-cjk-jp, sans-serif;
  font-style: normal;
}
.Yu-Mincho {
  font-family: "yu-mincho-pr6n", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-shadow-black {
  text-shadow: 2px 2px 3px black;
}
.text-light {
  transition: all 0.3s ease-in-out;
}
.text-light:hover {
  text-shadow: 0 0 15px whitesmoke;
}

.section-title {
  border-left: solid white 1px;
  font-size: 30px;
  padding-left: 10px;
}
@media (max-width: 640px) {
  .section-title {
    font-size: 20px;
  }
}

.text-vertical {
  writing-mode: vertical-rl;
  transform: scale(1, -1);
}

.text-xs {
  font-size: 0.625rem;
} /* 10px */
.text-sm {
  font-size: 0.75rem;
} /* 12px */
.text-base-sm {
  font-size: 0.875rem;
} /* 14px */

.text-base {
  font-size: 1rem;
} /* 16px */
.text-md {
  font-size: 1.125rem;
} /* 18px */
.concept-text,
.concept-text-width {
  font-size: 1.25rem;
  line-height: 3rem;
} /* 18px */
.text-lg {
  font-size: 1.25rem;
} /* 20px */

.text-xl {
  font-size: 1.5rem;
} /* 24px */
.text-2xl {
  font-size: 1.75rem;
} /* 28px */
.text-3xl {
  font-size: 2rem;
} /* 32px */
.text-4xl {
  font-size: 2.25rem;
} /* 36px */
.text-5xl {
  font-size: 3rem;
} /* 48px */
.text-6xl {
  font-size: 4rem;
}
.text-7xl {
  font-size: 5rem; /* 80px */
}

.font-light {
  font-weight: light;
}

.concept-text-width {
  max-width: 32rem;
}
