.scroll-arrow {
  position: relative;
  width: 30px;
  height: 40px;
  animation: arrow-float 5s ease-in-out infinite;
}

@keyframes arrow-float {
  0% {
    opacity: 100%;
    transform: translateY(-50%);
  }
  50% {
    opacity: 30%;
    transform: translateY(50%);
  }
  100% {
    opacity: 100%;
    transform: translateY(-50%);
  }
}

.line {
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: white;
  bottom: 0;
}

.line:nth-child(1) {
  transform: translate(6px, 2px) rotate(-45deg) translate(-10px, -10px);
  left: 50%;
}

.line.middle {
  transform: rotate(0deg);
  left: 50%;
  margin-left: -0.5px;
  height: 150px; /* 真ん中の線を長くする */
}

.line:nth-child(3) {
  transform: translate(-7px, 2px) rotate(45deg) translate(10px, -10px);
  right: 50%;
}

/*ホーム画面のサイドボタン*/
.side-link {
  position: absolute;
  top: 50%;
  border: 1px solid white;
  border-radius: 50%;
  width: 150px;
  height: 300px;

  padding-left: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all ease-in-out 1s;
}
.side-link:hover {
  width: 300px;
  height: 400px;
  opacity: 0.5;
}
@media (max-width: 1024px) {
  .side-link {
    width: 100px;

    height: 200px;
  }
}
@media (max-width: 1024px) {
  .side-link {
    display: none;
  }
}

.text-card {
  overflow: hidden; /* はみ出しを防ぐ */
}
.text-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #000000, #00000000);
  opacity: 1;
  z-index: -1; /* 背景として配置 */
}

.link-btn {
  background: linear-gradient(to right, #fff 0%, #fff 50%, #e0a2ff 100%);
  color: black;
  background-size: 200% 100%;
  background-position: 10% 0;
  padding: 15px 60px;
  border: #ffffff solid 5px;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
}

.link-btn:hover {
  background-position: 100% 0;
}

.shootingstar-underline {
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.shootingstar-underline::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 5px;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: all 1s ease-in-out;
}
.shootingstar-underline:hover::after {
  left: 100%;
}

.shootingstar-rightline {
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.shootingstar-rightline::after {
  content: "";
  position: absolute;
  top: -100%;
  left: 0px;
  height: 100%;
  width: 3px;
  background-color: white;
  transition: all 1s ease-in-out;
}
.shootingstar-rightline:hover::after {
  top: 100%;
}

.text-support-line-l {
  border-left: solid 1px #6f3aff;
  padding-left: 15px;
}

.img-custom-box-horizontal {
  width: clamp(300px, 30vw, 500px);
  height: clamp(200px, 21vw, 350px);
}

.img-custom-box-vertical {
  width: clamp(200px, 21vw, 350px);
  height: clamp(300px, 30vw, 500px);
}
